*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    

}
img{
    width: 152px;
    height: 50px;

}
h2{
    color: #073BA1;
    padding-top: 40px;
    font-size: 24px;
    padding-bottom: 10px;
}
p{
    color: #042668;
    font-size: 16px;
}
.name{
    font-size: 14px;
    color: #042668;
}
a{  
    color: #073BA1;
    padding-top: 20px;
    padding-bottom: 50px;
}
button{
    margin-top: 30px;
    width: 280px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: #EC3D5A;
    margin-bottom: 20px;
}
.nomer{
    padding-top: 30px;          
}
input{
    background-color: #E8EEF3;
    width: 280px;
    height: 50px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    border-radius: 8px;
}
.tel_number{
    padding-top: 30px;
}
.main{
    box-shadow: 0px 1px 4px 0px #073BA11A;
    width: 420px;
    border-radius: 30px;
}
body{
    text-align: center;
display: flex;
justify-content: center;
}